:root {
	--color-primary: #2584ff;
	--color-secondary: #00d9ff;
	--color-accent: #ff3400;
	--color-headings: #1b0760;
	--color-body: #918ca4;
	--color-border: #ccc;
	--border-radius: 30px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}
/* Typography */
html {
	/* 10px */
	font-size: 62.5%;
}
body {
	color: var(--color-body);
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.5rem;
	/* one and half size of font size */
	line-height: 1.5;
}

h1,
h2,
h3 {
	color: var(--color-headings);
}

/*  1rem = 1*10 = 10px  */
h1 {
	font-size: 7rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
	/* Avoid margin collapsing  between header and content*/
	margin-bottom: 1rem;
}
p {
	/* Avoid margin collapsing */
	margin-top: 0;
}

/* Links */
a {
	text-decoration: none;
}
.link-arrow {
	color: var(--color-accent);
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
}
.link-arrow::after {
	content: '-->';
	margin-left: 5px;
	/* for smooth transition */
	transition: margin 0.15s;
}
.link-arrow:hover::after {
	margin-left: 10px;
}

/* Badges */

.badge {
	border-radius: 20px;
	font-size: 2rem;
	font-weight: bold;
	padding: 0.5rem;
	white-space: nowrap;
}
.badge-primary {
	background: var(--color-primary);
	color: #fff;
}
.badge-secondary {
	background: var(--color-secondary);
	color: #fff;
}

.badge-small {
	font-size: 1.6rem;
}

/* list */
.list {
	list-style: none;
	padding-left: 0;
	color: var(--color-headings);
}

.list-inline .list-item {
	display: inline-block;
	margin-right: 2rem;
}

.list-marked {
	list-style-image: url(../images/tick.svg);
	padding-left: 3rem;
}

.list-marked .list-item {
	padding-left: 0.5rem;
}

/* Icons */
.icon {
	height: 40px;
	width: 40px;
}

.icon-primary {
	fill: var(--color-primary);
}

.icon-container {
	background: #f3f9fa;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

/* Button */
.button {
	border-radius: 40px;
	border: 0;
	cursor: pointer;
	font-size: 1.8rem;
	font-weight: 600;
	padding: 2rem 3rem;
	text-transform: capitalize;
	white-space: nowrap;
	text-align: center;
	margin: 1rem 0;
}
.button-primary {
	background: var(--color-primary);
	color: #fff;
}
.button-secondary {
	background: var(--color-secondary);
	color: #fff;
}
.button-accet {
	background: var(--color-accent);
	color: #fff;
}
.button-outline {
	background: var(--color-headings);
	border: 2px solid var(--color-headings);
	color: #fff;
}
/* Hover effect on button */
.button-primary:hover {
	background: #3a8ffd;
}
.button-secondary:hover {
	background: #00c8eb;
}
.button-accet:hover {
	background: #ec3000;
}
.button-block {
	width: 100%;
	display: inline-block;
}

.button-otline:hover {
	background: var(--color-headings);
	color: #fff;
}

/* Input */
.input {
	border-radius: var(--border-radius);
	outline: 0;
	padding: 1.5rem 3.5rem;
	color: var(--color-headings);
	border: 1px solid var(--color-border);
	font-size: 2rem;
}
::placeholder {
	color: #cdcbd7;
}

/* Input Group */
.input-group {
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
	display: flex;
}
.input-group .input {
	border: 0;
	flex-grow: 1;
	padding: 1.5rem 1rem;
}
.input-group .button {
	margin: 4px;
}

/* Media quiries for typography*/
@media screen and (min-width: 1024px) {
	body {
		font-size: 1.8rem;
	}
	h1 {
		font-size: 8rem;
	}
	h2 {
		font-size: 4rem;
	}
	h3 {
		font-size: 2.4rem;
	}
}

/* Media quries for arrows i.e. link */
@media screen and (min-width: 1024px) {
	link {
		font-size: 1.5rem;
	}
}

/* Media quiries for badges */
@media screen and (min-width: 1024px) {
	.badge {
		font-size: 1.5rem;
	}
	.badge-small {
		font-size: 1.2rem;
	}
}

/* Media queries for list */
@media screen and (min-width: 1024px) {
	.list-marked.list-item {
		padding-left: 0;
	}
}

/* Media queries for button */
@media screen and (min-width: 1024px) {
	button {
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 1024px) {
	.input {
		font-size: 1.4rem;
	}
}
