<section class="block container">
	<header class="block-header">
		<h2 class="block-heading">Heading</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores modi ipsa
			ad dolorem odit ipsum, voluptates quas eaque doloribus, eos minus nulla!
			Facere, illum magni?
		</p>
	</header>
</section>
<div style="width: 30%; padding: 4rem">
	<div class="card card-secondary">
		<header class="card-header">Card title</header>
		<div class="card-body">Lorem ipsum dolor sit amet.</div>
	</div>
</div>
<section class="block block-dark block-sckewed-left">
	<h2 class="block-heading">Heading</h2>
	<div class="container">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores modi ipsa
			ad dolorem odit ipsum, voluptates quas eaque doloribus, eos minus nulla!
			Facere, illum magni?
		</p>
	</div>
</section>
