<footer class="footer block-dark block">
	<div class="container grid footer-sections">
		<section class="collapsible collapsible-expanded footer-section">
			<header class="collapsible-header">
				<h2 class="collapsible-heading footer-heading">Products</h2>
				<svg class="icon icon-white collapsible-chevron">
					<use xlink:href="images/sprite.svg#chevron"></use>
				</svg>
			</header>
			<div class="collapsible-content">
				<ul class="list">
					<li><a href="#">Website hosting</a></li>
					<li><a href="#">Free Automated</a></li>
					<li><a href="#">Migration</a></li>
					<li><a href="#">Wordpress</a></li>
				</ul>
			</div>
		</section>
		<section class="collapsible footer-section">
			<header class="collapsible-header">
				<h2 class="collapsible-heading footer-heading">Company</h2>
				<svg class="icon icon-white collapsible-chevron">
					<use xlink:href="images/sprite.svg#chevron"></use>
				</svg>
			</header>
			<div class="collapsible-content">
				<ul class="list">
					<li><a href="#">About</a></li>
					<li><a href="#">Affiliated</a></li>
					<li><a href="#">block</a></li>
				</ul>
			</div>
		</section>
		<section class="collapsible footer-section">
			<header class="collapsible-header">
				<h2 class="collapsible-heading footer-heading">Support</h2>
				<svg class="icon icon-white collapsible-chevron">
					<use xlink:href="images/sprite.svg#chevron"></use>
				</svg>
			</header>
			<div class="collapsible-content">
				<ul class="list">
					<li><a href="#">Contact</a></li>
					<li><a href="#">Knowledge Base</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
		</section>
		<section class="collapsible footer-section">
			<header class="collapsible-header">
				<h2 class="collapsible-heading footer-heading">Domains</h2>
				<svg class="icon icon-white collapsible-chevron">
					<use xlink:href="images/sprite.svg#chevron"></use>
				</svg>
			</header>
			<div class="collapsible-content">
				<ul class="list">
					<li><a href="#">Domain Checker</a></li>
					<li><a href="#">Domain Transfer</a></li>
					<li><a href="#">Free Domain </a></li>
				</ul>
			</div>
		</section>
		<section class="footer-brand">
			<img src="images/logo.svg" alt="" />
			<p class="footer-copyright">Copyright 2021 Diksha Deshmukh</p>
		</section>
	</div>
</footer>
