<blockquote class="quote">
	<p class="quote-text">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
		itaque corrupti facere officia, necessitatibus impedit optio distinctio
		dolor excepturi quisquam reiciendis velit ad minima aperiam.
	</p>
	<footer>
		<div class="media">
			<div class="media-image">
				<svg class="icon icon-primary quote-line">
					<use xlink:href="images/sprite.svg#line"></use>
				</svg>
			</div>
			<div class="media-body">
				<h3 class="media-title quote-auther">John Smith</h3>
				<p class="quote-company">Abc company</p>
			</div>
		</div>
	</footer>
</blockquote>
