<section class="block block-dark block-sckewed-right block-showcase">
	<header class="block-header">
		<h2>User-friendly Control Panel</h2>
	</header>
	<div class="container grid grid-1x2">
		<picture class="block-showcase-image">
			<source
				type="images/webp"
				srcset="images/ipad.webp 1x, images/ipad@2x.webp" />
			<source
				type="images/png"
				srcset="images/ipad.png 1x, images/ipad@2x.png" />
			<img src="images/ipad.png" alt=""
		/></picture>
		<ul class="list">
			<li>
				<div class="media">
					<div class="media-image">
						<svg class="icon icon-primary">
							<use xlink:href="images/sprite.svg#snap"></use>
						</svg>
					</div>
					<div class="media-body">
						<h3 class="media-title">Easy Start AND Manage Updates</h3>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
							saepe eos assumenda. Cumque quibusdam debitis illum dolores natus!
							Quia nobis nam voluptatum libero accusantium porro.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="media">
					<div class="media-image">
						<svg class="icon icon-primary">
							<use xlink:href="images/sprite.svg#snap"></use>
						</svg>
					</div>
					<div class="media-body">
						<h3 class="media-title">Easy Start AND Manage Updates</h3>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
							saepe eos assumenda. Cumque quibusdam debitis illum dolores natus!
							Quia nobis nam voluptatum libero accusantium porro.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="media">
					<div class="media-image">
						<svg class="icon icon-primary">
							<use xlink:href="images/sprite.svg#snap"></use>
						</svg>
					</div>
					<div class="media-body">
						<h3 class="media-title">Easy Start AND Manage Updates</h3>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
							saepe eos assumenda. Cumque quibusdam debitis illum dolores natus!
							Quia nobis nam voluptatum libero accusantium porro.
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
